.col-lg-4
  .adventure
    %a{href: adventure_path(adventure)}
      %p.adventure-name
        = adventure.content["settings"]["name"]
      .adventure-info
        .adventure-image{ class: adventure.content["settings"]["game_type"] }
        %p.adventure-description
          The Census and Excise is an establishment operated by the Empire
          in an attempt to manage census counting for tax/excise purposes.
          Imperial taxes are based on head counts of citizens;
          Census and Excise is responsible for both head!
    .adventure-footer
      = adventure.content["settings"]["game_type"]
      .pull-right.counter{id: "adventure-counter-#{ adventure.id }"}
        - if @liked_adventures.include? adventure.id.to_s
          .adventure-star.liked
        - else
          = link_to adventure_like_path(adventure) do
            .adventure-star.active
        %span
          = adventure.likes
