.col-lg-4
  .adventure
    %a{href: adventure_path(adventure)}
      %p.adventure-name
        = adventure.content["settings"]["name"]
      .adventure-info
        .adventure-image{ class: adventure.content["settings"]["game_type"] }
        %p.adventure-description= truncate((adventure.content["settings"]["description"].to_s rescue ""), length: 140)

    .adventure-footer
      = adventure.content["settings"]["game_type"]
      .pull-right.counter{id: "adventure-counter-#{ adventure.id }"}
        - if @liked_adventures.include? adventure.id.to_s
          .adventure-star.liked
        - else
          = link_to adventure_like_path(adventure) do
            .adventure-star.active
        %span
          = adventure.likes
