- provide(:title, "About")

.row
  .col-sm-8.col-sm-offset-2
    %h2 About us

    %p
      We are young web developers from Cracow. Get to know us!

    .row
      .col-sm-3.human
        = image_tag "michal.jpg", class: "img-circle"
        %span Michał Matyas
      .col-sm-3.human
        = image_tag "maciek.jpg", class: "img-circle"
        %span Maciek Walusiak
      .col-sm-3.human
        = image_tag "joanna.jpg", class: "img-circle"
        %span Joanna Walusiak
      .col-sm-3.human
        = image_tag "marcin.jpg", class: "img-circle"
        %span Marcin Klocek



  .col-sm-8.col-sm-offset-2
    %h2 We extracted sources from

    %ul
      %li
        = link_to "deviantART", "#"
      %li
        = link_to "Google Images", "#"