%nav.navbar.navbar-default.header{:role => "navigation"}
  .container
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to (image_tag "logo.png"), root_path, class: "navbar-brand"
      #navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Home", root_path
          %li
            = link_to "Help", help_path
          %li
            = link_to "About", about_path
          %li
            = link_to "Create", new_adventure_path, class: "red"
