!!!
%html
  %head
    %title
      = (yield(:title).blank?) ? "Gilgamesz" : "#{ yield(:title) } | Gilgamesz"
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :assets
    = include_gon
    = csrf_meta_tags

  %body{class: "#{params[:controller]}-#{params[:action]} #{ @adventure.content["settings"]["game_type"] if @adventure && @adventure.content["settings"] }"}

    = render 'layouts/header'

    %div{ class: @fluid_layout ? 'container-fluid' : 'container' }
      = yield
